:root{
  --bg:#fd22dc;        /* slate-900 */
  --panel:#fbf5b2;     /* gray-900 */
  --muted:#f8bef0;     /* slate-400 */
  --text:#ff46da;      /* gray-200 */
  --primary:#fff70b;   /* green-500 */
  --secondary:#64748b; /* slate-500 */
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
    background-color: #fffde7;
}

header{
    display: flex;
    align-items: center;
    background-color: var(--muted);
    padding: 1 rem 2 rem;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 10;
}

header h1{
    margin: 4;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 6rem;

}

header .btn{
    background-color: var(--bg);
    color: var(--muted);
    border: #fd22dc;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    
}


main{
    margin: 2rem auto;
    max-width: 1200px;
    padding: 0 2rem;
}

main .card{
    background: var(--panel);
    border: 1px solid #f5f1a9;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow:0 6px 20px  #ff7ceb;
}

.btnh{
 background:var(--text);
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 18px;

}


#titform {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}




.footer{ 
    text-align:center; 
    color:var(--muted); 
    padding:2rem 1rem; 
}



