<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./css/styles.css">
    <title>Login</title>
</head>
<body class="login">
    <h1 class="tlogin">¿Eres socia?</h1>
    <h2 class="tlogin">Entra en tu cuenta</h2>

    <% if (error) { %>
        <p style="color:crimson;"><%= error %></p>
    <% } %>

    <form action="/login" method="POST">

        <label>
            Usuario: 
            <input type="text" name="usuario" required>
        </label>
        <br><br>

        <label>
            Contraseña: 
            <input type="password" name="password" required>
        </label>
        <br><br>
        <button>Entrar</button>
    </form>

    <p class="login"><a href="/">Inicio</a></p>

</body>
</html>