:root{
  --bg:#ff7ceb;       
  --panel:#fff9ba;     
  --muted:#ff96f1;     
  --text:#ff46da;      
  --primary:#fff70b;   
 
}

* {
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: 'neue';
    color: var(--text);
    background-color: #fffde7;
    background: var(--panel);
}

/*HEADER*/
header{
    display: flex;
    align-items: center;
    background-color: #fffa9d;
    padding: 1rem 5rem;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 10;
}

header h1{
    margin: 0;
    font-size: 4rem;
    font-family: 'mardis';
}

header .btnh{
    background-color: #ff7ceb;
    color: var(--muted);
    border: #fd22dc;
    padding: 0.6rem 0.8rem;
    margin: 0px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.4s ease;
}

.btnh:hover{
    background-color: var(--primary);
    color: var(--text);
}

nav a:hover{ /*NO FUNCIONA*/
    text-decoration: none;
    list-style-type: none;
}

.arriba{
  position: fixed;
  color: var(--text);
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 40px ;
  border: solid;
  font-size: 30px;
  background-color:  var(--bg);
  text-align: center;
  }

  .flecha{  
  
  padding-bottom: 112%;
  padding-right: 15%;
  margin: 0.1em;
  width: 50px

}

/*MAIN*/
main{
    margin: 1rem auto;
    max-width: 1200px;
    padding: 0 2rem;
}

main .card{
    padding: 1rem;
    margin-bottom: 2rem;
}

#titform  {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.card .textoContainer{
    font-size: 16px;
}



/*CARDS*/
.grid{
  background:var(--panel);
  border-radius:20px;
  padding:1rem;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(220px, 1fr));
  gap:1rem;
}

.product{
    display:flex; 
    flex-direction:column; 
    gap:.5rem;
    border:1px dashed #f5f1a9; 
    padding:1rem; 
    border-radius:20px;
    background:#fffbc9;
    box-shadow:0 3px 10px  #ff7ceb;
}

.product h3,
.product p {
    margin:0;
}

img {
    width: 100%;
    height: 200%;
    object-fit: contain;
    border-radius: 20px;
}

.card button{
    background-color: var(--bg);
    color: #fffbc9;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.card p{
    font-size: 0.9rem;
}

.card button:hover{
    background-color: var(--primary);
    color: var(--text);
}

/*CARRITO*/
.card .list{
    font-size: 18px;
    list-style: none;
    box-shadow:0 3px 10px  #ff7ceb;
}


/*FORMULARIO*/
form {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2rem;
    background: var(--panel);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 10px var(--bg);
}

form h2 {
    text-align: center;
    margin: 2rem;
    font-size: 50px;
    font-family: 'mardis';
}

#formulario p{
    font-size: 18px;
}

.btnform{
    background-color: #ff7ceb;
    color: var(--panel);
    border: #fd22dc;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.btnform:hover{
    background-color: var(--primary);
    color: var(--text)
}

.checkboxFormulario{
    border: solid var(--text) 0.1px;
    border-radius: 2%;
}

.btnFormulario{
    display: flex;
    justify-content: center;
    background-color: #ff7ceb;
    color: var(--panel);
    border: #fd22dc;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.btnFormulario:hover{
    background-color: var(--primary);
    color: var(--text)
}


#login p{
     font-size: 18px;
}

.btnlogin{
    background-color: #ff7ceb;
    color: var(--panel);
    border: #fd22dc;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.btnlogin:hover{
    background-color: var(--primary);
    color: var(--text)
}

.volver{
    text-align: center;
}

.mensajeForm{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2rem;
    background: var(--panel);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 10px var(--bg);
}

.tituloResumen{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 50px;
    font-family: 'mardis';
}

.login{
    text-align: center;
}

.tlogin{
    text-align: center;
}

.login button{
    background-color: #ff7ceb;
    color: var(--panel);
    border: #fd22dc;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.login button :hover{
    background-color: var(--primary);
    color: var(--text)
}

.perfil {
    padding: 5rem;
    margin:auto;
    text-align: center;
}

.perfil button{
    background-color: #ff7ceb;
    color: var(--panel);
    border: #fd22dc;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.perfil button :hover{
    background-color: var(--primary);
    color: var(--text)
}

/*FOOTER*/
.footer{ 
    text-align:center; 
    color:var(--muted); 
    padding:2rem 1rem; 
}

@font-face {
    font-family: 'mardis';
    src: url(../fonts/Bogista\ DEMO.otf);
}

@font-face {
    font-family: 'neue';
    src: url(../fonts/ComicNeue-Regular_1.otf);
}